{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/taxiapp/taxiapp_login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}" onsubmit="return validatePassword()">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>

    <p id="error-message" style="color: red;"></p> <!-- Error message display -->

    <div class="footer-links mt-3">
        <a href="{% url 'reset' %}">Reset Password</a>
        <a href="{% url 'register' %}">Don't have an account? Signup</a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function validatePassword() {
        var password = document.getElementById("password").value;
        var errorMessage = document.getElementById("error-message");

        var regex = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

        if (!regex.test(password)) {
            errorMessage.textContent = "Password must be at least 8 characters long, contain at least one number, one special character, one uppercase letter, and one lowercase letter.";
            return false; // Prevent form submission
        }

        errorMessage.textContent = ""; // Clear error message
        return true; 
    }
</script>
{% endblock %}

{% block footer %}{% endblock %} <!-- Remove footer on the login page -->
